<div id="companies_div">
  <h1>Companies</h1>
  <ul id="companies_list">
  </ul>
</div>
<div id="meta_data_div">
  <h3>Meta Data</h3>
  <div id="meta_data_info">
  </div>
  <ul id="url_list">
  </ul>
  <ul id="contributors">
  </ul>
</div>
